@import "src/scss/settings/breakpoints";

.decor {
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  @include tablet {
    font-size: 1.8rem;
  }


  h1 {
    text-align: center;
    max-width: 80vw;
    margin-bottom: 0.6rem;
  }

  .decor__icon {
    padding: 0 5rem;
    height: 3rem;
    width: 1rem;
    background-image: url("Decoration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include tablet {
      width: 3rem;
      padding: 0 7rem;
    }
  }
}