@import "settings/colors";
@import "settings/fonts";
@import "settings/breakpoints";
@import "settings/reset";

html {
  body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}

body {
  font-family: $font-base;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@include desktop {
  .container {
    width: 90%;
    max-width: (0.9 * $xl);
  }
}
